.screen{
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.screen .div2{
    background-color: #ffffff;
    height: 293px;
    position: relative;
    width: 310px;
}

.screen .text-wrapper2{
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 22px;
    left: 59px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 16px;
    white-space: nowrap;
    width: 200px;
}

.screen .text-wrapper3{
    color: #000000;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 62px;
    width:150px;
}

.screen .rectangle2{
    background-color: #ffffff;
    border:2px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 22px;
    left: 42px;
    position: absolute;
    top: 89px;
    width: 217px;
}

.screen .text-wrapper4{
     color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 16px;
    font-weight: 400;
    height: 24px;
    left: 27px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 119px;
    width:150px;
}

.screen .rectangle3{
    background-color: #ffffff;
    border: 2px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 22px;
    left: 42px;
    position: absolute;
    top: 146px;
    width: 217px;
}

.screen .sing_in_button1{
    left: 109px !important;
    position: absolute !important;
    top: 214px !important;
}